body {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: lightslategray;
    color: darkslategray;
}

#gameContainer {
    text-align: center;
    background-color: lightsteelblue;
    padding: 20px;
    border-radius: 10px;
    border: ridge thick darkslategray;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease;
}

#clickButton {
    background-color: lightgreen;
    color: darkslategray;
    padding: 20px 20px;
    font-size: 40px;
    border: outset thick darkslategray;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

#clickButton:hover {
    background-color: darkgreen;
    color: lightslategray;
    border-color: lightslategray;
    cursor: crosshair;
}

#timer, #clickCount {
    font-size: 30px;
    margin: 20px ;
}

h1 {
    font-size: 30px;
    color: darkslategray;
    margin-bottom: 20px;
}
